{block content}
	<div class="section">
        <h1 n:block="title">FAQ</h1>
        <ul class="collection">
			<li class="collection-item"><b>I found a bug or an error, what should I do?</b><br>Email me at <a href="mailto:PolankaMartin@gmail.com">PolankaMartin@gmail.com</a>.</li>
			<li class="collection-item"><b>Where can I found some manual or tutorial how to use CUK?</b><br>There is no such thing as tutorial, but you may find useful <a href="https://github.com/CatUnicornKiller/user-doc/wiki" target="_blank">User Documentation</a>, which should give overview of what the whole system is capable of. Documentation resides on GitHub alongside with <a href="https://github.com/CatUnicornKiller/web-app" target="_blank">source codes</a> of the whole system and <a href="https://github.com/CatUnicornKiller/programmer-doc/wiki" target="_blank">Programmer Documentation</a>.</li>
            <li class="collection-item"><b>I'm logged in but don't see any content?</b><br>Your access to CUK is probably not authorized by Czech Officers yet. Contact your Contact Person for further information.</li>
            <li class="collection-item"><b>What is IFMSA username and IFMSA password?</b><br>These two entries are used to connect to <a href="http://www.ifmsa.org" target="_blank">www.ifmsa.org</a> and load some information from here. If you do not have an account, please, do not fill these out.</li>
			<li class="collection-item"><b>It takes too long to load a page.</b><br>Well, it is not a bug, it is a feature. The problem is that some data is being loaded from <a href="http://www.ifmsa.org" target="_blank">www.ifmsa.org</a> and than processed which, unfortunately, takes some time.</li>
			<li class="collection-item"><b>PDF was generated without the image, but I can see it in the table.</b><br>There are several causes for this. The most common are: the image is not in a supported format or the image is too big to be included in a PDF.</li>
        </ul>
	</div>
{/block}