{block content}
<div class="section">
    <h1 n:block="title">Change Role of Officer</h1>

    {control changeRoleForm}
    <p><span style="color:red;font-size:12px;">Note that you cannot modify users with higher privileges!!! (Except of yourself obviously.)</span></p>

</div>
{/block}