{block content}
	<div class="section">
        <h1 n:block="title">Business Day Closure</h1>
        <div class="row">
            <div class="col s12">
                Business day closed.
            </div>
        </div>
	</div>
{/block}