{block content}
	<div class="section">
        <h1 n:block="title">Transaction Reversal</h1>
        <div class="row">
            <div class="col s12">
                <span class="ok_cross">Transaction successfully reversed!</span><br><br>
                Get back to <a n:href="Events:detail, 'id' => $participant->event->id">Event description</a>.
            </div>
        </div>
	</div>
{/block}