{block content}
	<div class="section">
        <h1 n:block="title">Transaction Failed</h1>
        <div class="row">
            <div class="col s12">
                <span class="delete_cross">Event not paid!</span> Bank transaction not completed due to technical error.<br><br>
                Get back to <a n:href="Events:detail, 'id' => $participate->event->id">Event description</a>.
            </div>
        </div>
	</div>
{/block}